name: Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync
      - name: Check code
        run: uv run ruff check
      - name: Check format
        run: uv run ruff format --check

