name: Publish Python Package

on:
  release:
    types: [ published ]

jobs:
  pypi-publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    environment: publish
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
      - name: Build package
        run: uv build
      - name: Publish package distributions to PyPI
        run: uv publish